.cont {
    align-items: center;
    margin-left: calc(17rem + 20px); /* Ajusta el margen izquierdo */
}

.title {
    font-size: 3rem; /* Tamaño del título */
    text-align: center; /* Centra el título horizontalmente */
    margin-top: 50px; /* Margen superior */
    margin-left: 0;
    color: #ff85a2; /* Color rosa */
}

p {
    font-size: 20px; /* Tamaño del texto */
    margin-bottom: 20px; /* Margen inferior */
    text-align: center;
    color: #ff85a2; /* Color rosa */
}

.container {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

img {
    width: 75%;
    max-width: 50rem;
    display: block;
    margin: 10px auto;
}

footer {
    position: fixed;
    bottom: 0;
    margin-left: calc(17px + 17rem); /* Ajusta el margen izquierdo */
    width: 100%;
    background-color: #ffeded; /* Color de fondo rosado claro */
    color: #ff85a2; /* Color del texto del footer */
    padding: 20px 0; /* Relleno del footer */
}

footer p {
    background-color: inherit; /* Color de fondo del footer */
    color: #ff85a2; /* Color del texto del pie de página */
    font-size: 18px; /* Tamaño del texto del pie de página */
    margin-right: 10%;
}
